.explore-menu{
    display:flex;
    flex-direction: column;
    gap:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.explore-menu h1{
    color:darkslategrey;
    font-weight: 800;
}
.explore-menu-text{
    max-width: 60%;
    color: rgb(51, 51, 51);
}
.explore-menu-list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin:20px 0px;
    overflow-x:scroll;
}
.explore-menu-list-item img{
    box-sizing: border-box;
    width:max(7.5vw);
    min-width:80px;
    cursor:pointer;
    border-radius: 50%;
    transition:0.2s;
}
.explore-menu-list-item p{
    margin-top:10px;
    color: rgb(103, 94, 83);
    font-size:max(1.4vw,16px);
    cursor: pointer;
}
.explore-menu hr{
    margin:10px 0px;
    height:2px;
    background-color: rgb(188, 188, 188);
    border:none;
}
.explore-menu-list-item .active{
    border:4px solid tomato;
    padding:2px;
}