.header{
    height: 34vw;
    margin: 30px auto;
    background:url('/header_img.png') no-repeat;
    background-size: contain;
    position:relative;
}
.header-contents{
    text-shadow: 1px 1px 5px black;
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items:start;
    gap:1.5vw;
    max-width:50%;
    bottom:10%;
    left:6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color:white;
    font-size:max(4.5vw,22px)
}
.header-contents p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 50;
    font-size:1vw;
    color:white;
}
.header-contents button{
    border:none;
    color:rgb(106, 92, 74);
    font-weight:500;
    padding:1vw 2.3vw;
    background-color:white;
    font-size:max(1vw,13px);
    border-radius: 60px;
}